@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Urbanist:wght@500&display=swap");

body{
    background-color: #28282b;
    color: rgba(255, 255, 255, 0.54);
    font-family: Poppins;
    font-style: normal;
  }

  .HomeNavBar {
    padding:16px;
    display: flex;
    gap: 70%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.HomeNavBar .Logo{
    flex:1;
    padding:35px;
}

.HomeNavBar .NavBarR{
    flex: 0.8;
    display: flex;
    justify-content: space-around;
}

.HomeNavBar .NavBarR > *{
    margin: 0 10px 0 10px;
}

.btn-style{
  border-radius: 15px;
  padding: 15px;
}
    .messages-box {
      flex: 1;
      overflow-y: auto;
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-left:15%;
      margin-bottom: 15px;
      list-style: none;
      border-radius: 10px;
      height: auto;
      padding: 10px;
      width:70%;
    }
    .message-sender{
      margin-bottom:10px;

    }
    .message-text {
      padding: 10px;
      border-radius: 20px;
    }

    .sent {
      background-color: #1E1E1E;
      align-self: flex-end;
    }

    .received {
      background-color: #8A9A5B;
      align-self: flex-start;
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 30px;
      left: 0;
      right: 0;
      padding: 5px;
      height: 88px;
      margin-left: 10%;
      margin-right: 10%;
      
    }

    .message-input {
      flex: 1;
      border-right: none;
      border-radius: 10px;
      background: #1E1E1E;
      height: 60px
    }

    .btn-submit {
      bottom: 0px;
      border-radius: 10px;
      background: #8A9A5B;
      height: 60px;
    }

    .message-box-color {
      background-color: #28282b;
    }
    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .card{
      background-color: #28282b;
    }