.HomeNavBar {
    padding:16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: black;
}

.HomeNavBar .Logo{
    flex:1;
}

.HomeNavBar .NavBarR{
    flex: 0.8;
    display: flex;
    justify-content: space-around;
}

.HomeNavBar .NavBarR > *{
    margin: 0 10px 0 10px;
}